@import '../../global-styles/base.module.scss';

$inputHeight: 40px;
$resultHeight: 55px;
$inputWidth: 410px;
$buttonWidth: 80px;
$buttonSpacing: 10px;
$padding: 10px;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.marginBottom {
    margin-bottom: 44px;
  }
}

.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 735px) {
    flex-direction: column;
  }
}

.searchInput {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid white;
  color: white;
  font-size: 16px;
  font-weight: 400;

  width: $inputWidth;
  height: $inputHeight;
  outline: none;

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
      no-repeat 50% 50%;
    background-size: contain;
    opacity: 0.5;
    color: white;
    filter: invert(1);
    cursor: pointer;
  }

  &::-webkit-input-placeholder {
    color: #aaa;
  }

  @media screen and (max-width: 415px) {
    width: 80vw;
  }
}

.submitButton {
  height: $inputHeight;
  min-width: $buttonWidth;
  margin-left: $buttonSpacing;
  font-family: Signika;
  padding: 0 10px;

  @media screen and (max-width: 735px) {
    margin-left: 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 735px) {
    margin-top: 10px;
    width: $inputWidth;
  }

  @media screen and (max-width: 415px) {
    width: 100%;
  }
}

.noneFound {
  padding: $padding;
  width: $inputWidth + $buttonWidth + $buttonSpacing;
  color: white;

  @media screen and (max-width: 735px) {
    width: $inputWidth;
  }

  @media screen and (max-width: 415px) {
    width: 80vw;
  }
}

// Search Results
.recipeList {
  position: absolute;
  top: 100%;
  z-index: 2;
  width: $inputWidth;
  background: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #dedede;
  white-space: nowrap;

  @media screen and (max-width: 735px) {
    top: auto;
    overflow-x: hidden;
  }

  @media screen and (max-width: 415px) {
    width: 100%;
  }
}

.searchResult {
  display: flex;
  height: $resultHeight;
  line-height: $resultHeight;
  border-top: 1px solid #dedede;
  padding: 0 $padding;
  cursor: pointer;

  &:first-child {
    border-top: none;
  }

  &.selected {
    background-color: #dedede;
  }
}
