.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: lightblue;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.link {
  text-decoration: none;
  color: #6933a2;
  font-weight: bold;
  cursor: pointer;
}

.linkContainer {
  min-width: 100px;
}

.leftContainer,
.rightContainer {
  display: flex;
}

.centerContainer {
  flex: 1;
}

.rightContainer {
  justify-content: flex-end;

  .linkContainer {
    text-align: right;
  }
}
