@import '../../../global-styles/base.module.scss';

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #bde6f9;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0 50px;
  z-index: 5;
}

.navLink {
  text-decoration: none;
  color: $purple;
  font-weight: 600;
  font-family: Signika, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.linkContainer {
  min-width: 100px;
}

.leftContainer,
.rightContainer {
  display: flex;
}

.centerContainer {
  flex: 1;
}

.rightContainer {
  justify-content: flex-end;

  .linkContainer {
    text-align: right;
  }
}
