@import "../../global-styles/base";

.form {
  font-size: 18px;
}

.formRow {
  margin: 10px 0;
}

.comboRow {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.input {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  color: #303030;
  font-size: 16px;
  font-weight: 400;

  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(255, 255, 255, 1);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(255, 255, 255, 1);

  &.fullWidth {
    width: 100%;
  }

  &.error {
    border: 1px solid red;
  }
}

.input:focus {
  outline: 0;
  border: 1px solid #666;
}

.servingsContainer {
  .label {
    margin-right: 10px;
  }
}

.servings {
  composes: input;
  width: 175px;
}

.select {
  padding: 10px;
  margin: 0 20px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 200px;
}

.selectError {
  composes: select;
  border: 1px solid red;
}

.checkbox {
  margin-right: 5px;
}

.textareaRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.textarea {
  height: 150px;
  padding: 10px;
  font-size: 14px;
}

.textareaError {
  composes: textarea;
  background: rgba(255, 0, 0, 0.2);
}

.textareaLabel {
  composes: label;
  margin-bottom: 5px;
}

.labelAndLinkContainer {
  display: flex;
  justify-content: space-between;
}

.addFootnoteLink {
  composes: textareaLabel;
  cursor: pointer;

  &:hover {
    color: purple;
  }
}

.flex1 {
  flex: 1;
}

.notesRow {
  display: flex;
  margin-bottom: 10px;
}

.notesButtons {
  button {
    font-size: 11px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
    cursor: pointer;
  }
}

.submit {
  height: 30px;
  width: 100px;
  margin: auto;
}
