@import "../../global-styles/base.module.scss";

.recipeItemContainer {
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.featuredStar {
  color: #ffc82a;
  font-size: 0.9em;
  padding-left: 4px;
  padding-bottom: 2px;
}

.tagsContainer {
  display: flex;
}
