.tag {
  font-weight: 600;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: red;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}

.gray {
  background-color: gray;
}

.black {
  background-color: black;
}
