@import "../../global-styles/base.module.scss";
@import "../RecipeForm/RecipeForm.module.scss";
.form {
  composes: form from "../RecipeForm/RecipeForm.module.scss";
}

.formRow {
  composes: formRow from "../RecipeForm/RecipeForm.module.scss";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 15px;
}

.buttonRow {
  composes: formRow;
  justify-content: center;
}

.button {
  composes: submit from "../RecipeForm/RecipeForm.module.scss";
  margin: 0 5px;
}

.inputGroup {
  display: flex;
  flex: 1;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.inputContainer {
  width: 100%;
}

.input {
  width: calc(100% - 20px);
}

.label {
  composes: label from "../RecipeForm/RecipeForm.module.scss";
  margin-right: 10px;
  white-space: nowrap;
}

.select {
  composes: select from "../RecipeForm/RecipeForm.module.scss";
  padding: 5px;
  width: 150px;
}

.radioGroup {
  display: flex;
}

.radioTitle {
  font-weight: bold;
}

.radioLabel {
  font-size: 16px;
  margin-left: 10px;
}
