@import "../../global-styles/base.module.scss";

.loginForm {
  font-size: 18px;
  width: 250px;
  margin: auto;
}

.signupForm {
  font-size: 18px;
  width: 400px;
  margin: auto;
}

.formRow {
  display: flex;
}

.submit {
  height: 30px;
  width: 100px;
  margin: auto;
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-size: 12px;
  min-height: 17px;
  padding: 2px 0;
}

.errorMessageContainer {
  text-align: center;
}

.inputGroup {
  &.left {
    width: 50%;
    margin-right: 15px;
  }

  &.right {
    margin-left: 15px;
    width: 50%;
  }
}

.fullWidth {
  width: 100%;
}

.input {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  width: 100%;

  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(255, 255, 255, 1);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 1px 0 rgba(255, 255, 255, 1);

  &.error {
    border: 1px solid red;
  }
}

.input:focus {
  outline: 0;
  border: 1px solid #666;
}
