@import '../../global-styles/base.module.scss';
@import '../../global-styles/globals.scss';

.stepsContainer {
  margin-bottom: 20px;
}

.sectionTitle {
  composes: sectionTitle from './RecipeView.module.scss';
}

.stepContainer {
  display: flex;
  border-bottom: 1px dashed $lightBlue;

  &:first-child {
    border-top: 1px dashed $lightBlue;
  }
}

.stepNumber {
  align-self: center;
  flex: 0 0 30px; // ensures container width 30px
  font-size: 14px;
  font-weight: bold;
  background-color: $lightBlue;
  color: white;
  border-radius: 50%;
  margin-right: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  padding: 15px 10px;
}

.headerStepText {
  color: $purple;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}

.sectionHeader {
  font-weight: bold;
  color: $purple;
}

.superscript {
  composes: superscript from './RecipeView.module.scss';
  color: $purple;
}
